<!-- $Id: index.html 376 1998-01-14 05:10:21Z gdr $ -->

<A HREF="gno"><IMG src="icons/back.gif"  alt="Back to the GNO Home Page"
 align="right" width="24" height="24" border="0"></A>
<BR CLEAR=RIGHT>

<H1 ALIGN=CENTER>Home of James' describe database</H1>

The current version of describe is <b>%%VERSION_LONG%%</b>.
<br>
The describe database was last updated <b>%%DATE%%</b>.
<p>
<hr>
<p>

A while ago, James Brookes wrote a utility called &quot;describe&quot;.
It has a simple purpose: To maintain a database of utilities for
<A HREF="gno">GNO/ME</A>
and 
<A HREF="http://hypermall.com/byteworks">ORCA/Shell</A>
and offer a way to get a concise description of a utility quickly and easily.
<P>

Since describe is nothing without an up-to-date database, 
<A HREF="http://www.arrowweb.com/sbehrens">S&ouml;nke Behrens</A> created
the first online describe database, which provided a central repository
for the data, and an easy mechanism for updating that data.
<p>

Leslie Barstow also maintains an online version of the describe database.
(He gets his data from S&ouml;nke.)
His version is indexed by alphabet and category, and is searchable.
You can find his version at
<A href="http://www.servtech.com/public/phoenix/computers/gno">
http://www.servtech.com/public/phoenix/computers/gno</A>.
<p>

This page is based heavily on S&ouml;nke's and Leslie's work.
From this page you can:
<ul>
<li>download the current version of the
	<A HREF="gno/describe/program.html">describe program</A>;
<li>download the current version of the
	<A HREF="gno/describe/dbase.html">database</A>;
<li><A HREF="gno/describe/submit.html">make submissions</A>
	for new entries and updates; and
<li><A HREF="gno/describe/view.html">view current entries</A>;
</ul>
<p>

Back to the <A HREF="gno">GNO Web Page</A>.
<p>

