<!-- $Id: program.html 389 1998-01-23 22:38:16Z gdr $ -->

<A HREF="gno/describe/index.html"><IMG src="icons/back.gif"
 alt="Back to the Describe Database Page"
 align="right" width="24" height="24" border="0"></A>
<BR CLEAR=RIGHT>

<H1 ALIGN=CENTER>Obtaining the Describe Program</H1>

The current version of describe is <b>%%VERSION_LONG%%</b>.
<p>

If you don't have describe yet, or if yours is out-of-date, you can 
obtain a current copy from
<A HREF="ftp://ftp.gno.org/pub/apple2/gs.specific/gno/doc.utils/describe%%VERSION_SHORT%%.shk">
ftp://ftp.gno.org/pub/apple2/gs.specific/gno/doc.utils/describe%%VERSION_SHORT%%.shk</A>

This archive actually consists of three different programs:
<ul>
<li><A HREF="gno/man/man1/describe.1.html">describe</A>,
	the program which prints out the requested describe entry;
<li><A HREF="gno/man/man8/descc.8.html">descc</A>,
	which compiles the describe database input &quot;source&quot; file
	into a binary database; and
<li><A HREF="gno/man/man8/descu.8.html">descu</A>,
	which can be used for batch updates to the describe database
	&quot;source&quot; file.
</ul>
<p>

Back to the <A HREF="gno/describe/index.html">Describe Database Page</A>.
<p>
