<!-- $Id: view.html 803 1999-07-03 16:55:42Z gdr $ -->

<A HREF="gno/describe/index.html"><IMG src="icons/back.gif"
 alt="Back to the Describe Database Page"
 align="right" width="24" height="24" border="0"></A>
<BR CLEAR=RIGHT>

<H1 ALIGN=CENTER>Viewing Current Entries</H1>

The entries are sorted in a few ways.  Select whichever is appropriate.
<p>

<dt>By Name:
<dd>
<A HREF="gno/describe/gen/a.html">A</A>
<A HREF="gno/describe/gen/b.html">B</A>
<A HREF="gno/describe/gen/c.html">C</A>
<A HREF="gno/describe/gen/d.html">D</A>
<A HREF="gno/describe/gen/e.html">E</A>
<A HREF="gno/describe/gen/f.html">F</A>
<A HREF="gno/describe/gen/g.html">G</A>
<A HREF="gno/describe/gen/h.html">H</A>
<A HREF="gno/describe/gen/i.html">I</A>
<A HREF="gno/describe/gen/j.html">J</A>
<A HREF="gno/describe/gen/k.html">K</A>
<A HREF="gno/describe/gen/l.html">L</A>
<A HREF="gno/describe/gen/m.html">M</A>
<A HREF="gno/describe/gen/n.html">N</A>
<A HREF="gno/describe/gen/o.html">O</A>
<A HREF="gno/describe/gen/p.html">P</A>
<A HREF="gno/describe/gen/q.html">Q</A>
<A HREF="gno/describe/gen/r.html">R</A>
<A HREF="gno/describe/gen/s.html">S</A>
<A HREF="gno/describe/gen/t.html">T</A>
<A HREF="gno/describe/gen/u.html">U</A>
<A HREF="gno/describe/gen/v.html">V</A>
<A HREF="gno/describe/gen/w.html">W</A>
<A HREF="gno/describe/gen/x.html">X</A>
<A HREF="gno/describe/gen/y.html">Y</A>
<A HREF="gno/describe/gen/z.html">Z</A>
<p>

<dt>By Category:
<dd><ul>
<li><A HREF="gno/describe/gen/archive.html">Archiving Utilities</A>.
	This includes utilities for compression, ascii encoding,
	Binary-II encoding, and related functionality.
<li><A HREF="gno/describe/gen/comm.html">Communications Utilities</A>.
<li><A HREF="gno/describe/gen/crypto.html">Cryptography</A>.
<li><A HREF="gno/describe/gen/daemon.html">Daemons</A>.
	These are programs which run periodically in the background, or
	asynchronously as required.
<li><A HREF="gno/describe/gen/docutil.html">Documentation Utilities</A>.
	These are utilities intended for viewing and maintaining
	documentation, and for locating other utilties.
<li><A HREF="gno/describe/gen/edit.html">Editors, Word Processors, and
	Document Viewers</A>.
<li><A HREF="gno/describe/gen/file.convert.html">File Conversion Utilities</A>.
	This includes utilities for newline conversion, entabbing and
	detabbing, stripping control characters, and file format translations.
<li><A HREF="gno/describe/gen/file.manip.html">File Manipulation Utilities</A>,
	for copying, renaming, or deleting files, changing file attributes,
	and similar operations.
<li><A HREF="gno/describe/gen/games.html">Games</A>.
	This also includes programs that are not really games, but fall
	under this category in a traditional UNIX environment such as text
	banners, reminder programs, and sound and music players.
<li><A HREF="gno/describe/gen/graphics.html">Graphics Programs</A>.
<li><A HREF="gno/describe/gen/gui.html">GUI</A>.
	Most GNO programs are intended for use with the text interface.
	This list includes graphics programs such as window managers and
	their modules.
<li><A HREF="gno/describe/gen/lang.html">Programming Languages</A>.
	Assemblers, compilers, and interpreters.
<li><A HREF="gno/describe/gen/lib.html">Libraries</A>.
<li><A HREF="gno/describe/gen/mail.html">Mail Readers</A>.
<li><A HREF="gno/describe/gen/network.html">Networking Utilities</A>.
<li><A HREF="gno/describe/gen/news.html">News Readers</A>.
<li><A HREF="gno/describe/gen/patch.html">Patch Programs</A>.
<li><A HREF="gno/describe/gen/productivity.html">Personal Productivity</A>
	(calculators, calendars, etc)
<li><A HREF="gno/describe/gen/prog.html">Programming Utilities</A>.
<li><A HREF="gno/describe/gen/script.html">Scripting Utilities</A>.
<li><A HREF="gno/describe/gen/shells.html">Shells</A>.
<li><A HREF="gno/describe/gen/sound.html">Sound and Music Utilities</A>.
	These are programs for creating, editing, or playing music and 
	sound files.
<li><A HREF="gno/describe/gen/sys.html">System Utilities</A>.
	These are system interface related utilities.  They include 
	programs for logging in, directory manipulation, machine status,
	and job control.
<li><A HREF="gno/describe/gen/sysadmin.html">System Administration 
	Utilities</A>.
<li><A HREF="gno/describe/gen/text.html">Text Utilities</A>.
	This includes search and selection utilities.  They are often used
	in shell scripts.
<li><A HREF="gno/describe/gen/unsorted.html">Unsorted</A>.
	These are utilities which have not yet been classified.
</ul>

Back to the <A HREF="gno/describe/index.html">Describe Database Page</A>.
<p>
