<!-- $Id: faqindex.html 819 2001-06-18 13:42:55Z gdr $ -->

<H1>GNO Frequently Asked Questions (and Answers)</H1>

The newsgroup <b> comp.sys.apple2.gno </b> is the primary source
for GNO information on USENET.  The FAQ (Frequently Asked Questions
list) for this newsgroup is recommended reading and contains
information that is not covered in the manuals, or that supercedes
the manuals. 
The FAQ is posted monthy on <b> comp.sys.apple2.gno</b>, and is also
available online.
<p>

A summary of the most recent changes (typically since the previous
monthly posting) may be obtained from the (abbreviated) Change Log.
<p>

The online html version of these documents may be found at:
<ul>
<li><A HREF="%%FAQ%%">%%FAQ%%</A>
	(FAQ)
<li><A HREF="%%FAQLOG%%">%%FAQLOG%%</A>
	(Change Log)
</ul>
<p>

The text version of these documents are available via ftp at the
following locations:
<ul>
<li><A HREF="%%FAQ_TEXT%%">%%FAQ_TEXT%%</A>
	(FAQ)
<li><A HREF="%%FAQLOG_TEXT%%">%%FAQLOG_TEXT%%</A>
	(Change Log)
<li>At the RTFM USENET FAQ archive, in the directory
	<b>ftp://rtfm.mit.edu/pub/usenet/comp.sys.apple2.gno</b>.
</ul>
<p>
