<!-- $Id: oldrefs.html 819 2001-06-18 13:42:55Z gdr $ -->

<h1>Old GNO Documentation</H1>

<H3>Reference Manuals (August 1996 Revision)</H3>
These are the reference manuals that shipped with GNO v2.0.4, translated
into html source.
<p>

<ul>
<li><A HREF="docs.Aug96/install.html">
	Introduction and Installation</A>
<li><A HREF="docs.Aug96/kernel.html">
	GNO Kernel Reference Manual</A>
<li>GNO Shell User's Manual, <A HREF="docs.Aug96/gsh-12.html">
	Chapters 1 and 2</A>
<li>GNO Shell User's Manual, <A HREF="docs.Aug96/gsh-3.html">
	Chapter 3</A>
<li>GNO Shell User's Manual, <A HREF="docs.Aug96/gsh-4.html">
	Chapter 4</A>
<li>GNO Shell User's Manual, <A HREF="docs.Aug96/gsh-5.html">
	Chapter 5 and Appendices</A>
</ul>
<p>

The original MS-Word versions of these documents are also available for
download via ftp:
<ul>
<li>Introduction and Installation:
	<A HREF="%%FTP_ROOT%%/doc/refs/aug96/install.zip">
	%%FTP_ROOT%%/doc/refs/aug96/install.zip</A>
<li>Kernel Reference Manual:
	<A HREF="%%FTP_ROOT%%/doc/refs/aug96/kernel.zip">
	%%FTP_ROOT%%/doc/refs/aug96/kernel.zip</A>
<li>GNO Shell Reference Manual:
	<A HREF="%%FTP_ROOT%%/doc/refs/aug96/gsh.zip">
	%%FTP_ROOT%%/doc/refs/aug96/gsh.zip</A>
</ul>

<H3>Manual Pages (August 1996 Revision)</H3>
There are also selected manual pages available.  (Be sure to check the ones 
installed on your system as well.)  Unfortunately, this set of manual
pages is not divided along chapter boundries.
<p>

<ul>
<li><A HREF="docs.Aug96/man1.html">Part 1</A>
	Chapter 1: Commands and Applications
	(<b>intro</b>(1) and <b>binprint</b>(1) to <b>sum</b>(1))
<li><A HREF="docs.Aug96/man2.html">Part 2</A>
	Chapter 1: Commands and Applications
	(<b>sz</b>(1) to <b>tar</b>(1))
<li><A HREF="docs.Aug96/man3.html">Part 3</A>
	<ul>
	<li>Chapter 1: Commands and Applications
		(<b>tee</b>(1) to <b>yes</b>(1))
	<li>Chapter 2: System Calls
		(<b>alarm</b>(2) to <b>statfs</b>(2))
	</ul>
<li><A HREF="docs.Aug96/man4.html">Part 4</A>
	<ul>
	<li>Chapter 2: System Calls
		(<b>truncate</b>(2) to <b>wait</b>(2))
	<li>Chapter 3: Library Routines
	<li>Chapter 4: Devices
	</ul>
</ul>
<p>

The original MS-Word versions of these manual pages are also available for
download via ftp at
<A HREF="%%FTP_ROOT%%/doc/refs/aug96/manpages.zip">
%%FTP_ROOT%%/doc/refs/aug96/manpages.zip</A>
