<!-- $Id: refs.html 819 2001-06-18 13:42:55Z gdr $ -->

<H1>GNO Reference Manuals</H1>

These documents are based on Procyon's August 1996 v2.0.4 documents, but have
been updated and enhanced. <em>These manuals are still being revised;
if you find errors or omissions, please contact the maintainer (Devin
Reade) at the address at the bottom of this page.</em>
<p>

<dt><A HREF="intro.html">Overview and Installation</A>
<dd>This document contains introductory information (including how
to obtain GNO), installation
instructions, a list of hardware requirements, suggested readings,
and similar material.  It is a good starting point for those new to GNO.
It is also available for download in various formats:
<ul>
<li>Compressed Postscript (Letter):
	<A HREF="%%FTP_INTRO%%.ltr.ps.Z">%%FTP_INTRO%%.ltr.ps.Z</A>
<li>Compressed Postscript (A4):
	<A HREF="%%FTP_INTRO%%.a4.ps.Z">%%FTP_INTRO%%.a4.ps.Z</A>
	<br>
	<em>See the <A HREF="#a4note">note</A> on the A4 paper format, 
	below.</em>
<li>Compressed DVI:
	<A HREF="%%FTP_INTRO%%.dvi.Z">%%FTP_INTRO%%.dvi.Z</A>
<li>Appleworks (Classic) in a NuFX archive:
	<A HREF="unaval.html">(not yet available)</A>
<li>Text (ASCII) in a NuFX archive:
	<A HREF="unaval.html">(not yet available)</A>
</ul>
<p>

<dt><A HREF="kern.html">Kernel Reference Manual</A>
<dd>This is a technical introduction and reference to the GNO Kernel,
which is the heart of the GNO system.  It can be heavy reading for
the new user, but is a must for the application programmer.
It is also available for download in various formats:
<ul>
<li>Compressed Postscript (Letter):
	By <A HREF="kern.ltr.ps.Z">HTTP</A>
	or <A HREF="%%FTP_KERN%%.ltr.ps.Z">FTP</A>.
<li>Compressed Postscript (A4):
	By <A HREF="kern.a4.ps.Z">FTP</A>
	or <A HREF="%%FTP_KERN%%.a4.ps.Z">FTP</A>.
	<br>
	<em>See the <A HREF="#a4note">note</A> on the A4 paper format, 
	below.</em>
<li>Compressed DVI:
	By <A HREF="kern.dvi.Z">HTTP</A>
	or <A HREF="%%FTP_KERN%%.dvi.Z">FTP</A>.
<li>Appleworks (Classic) in a NuFX archive:
	<A HREF="unaval.html">(not yet available)</A>
<li>Text (ASCII) in a NuFX archive:
	<A HREF="unaval.html">(not yet available)</A>
</ul>
<p>

<dt><A HREF="gsh/index.html">GNO Shell User's Manual</A>
<dd>This is the reference manual for the GNO Shell, otherwise known
as <b>gsh</b>.  The current version is more of a tutorial than a 
true reference manual.
It is also available for download in various formats:
<ul>
<li>Compressed Postscript (Letter):
	By <A HREF="gsh.ltr.ps.Z">HTTP</A>
	or <A HREF="%%FTP_GSH%%.ltr.ps.Z">FTP</A>
<li>Compressed Postscript (A4):
	<A HREF="unaval.html">(not yet available)</A>
	<br>
	<em>See the <A HREF="#a4note">note</A> on the A4 paper format, 
	below.</em>
<li>Appleworks (Classic) in a NuFX archive:
	<A HREF="unaval.html">(not yet available)</A>
<li>Text (ASCII) in a NuFX archive:
	<A HREF="unaval.html">(not yet available)</A>
</ul>
<p>

<A NAME="a4note">
<h3>Note on A4 Paper Formats</h3>
</A>
Since I do not use the A4 paper format, I would be interested
in feedback on how the formatting turns out.  Currently, the 
DVI files are created for the the letter paper size, and only
in the DVI to Postscript conversion is the A4 paper size taken
into account.  While this greatly simplifies the document
&quot;build&quot; process, it might result in less than desirable
output.  Please email your observations to me at the address at
the bottom of this page.
<p>


