<!-- $Id: related.html 819 2001-06-18 13:42:55Z gdr $ -->

<H1>GNO-Related Web Links</H1>

The following links are also likely to be of interest to GNO users
and programmers.

<ul>
<li>The <A HREF="/gno/describe">
	Describe Database</A> Page.  This is a database containing information
	on current GNO and ORCA/Shell utilities, including version numbers
	and from where they can be obtained.
<li><A HREF="http://www.hypermall.com/companies/procyon">
	Procyon Enterprises Inc</A>
<li><A HREF="http://www.hypermall.com/byteworks">The Byte Works</A>,
	creators of ORCA/C, ORCA/M, and other programming tools.
<li>Soenke Behrens' <A HREF="http://www.arrowweb.com/sbehrens/obugs.htm">
	ORCA/C Bug List</A>
<li>Leslie Barstow's
    <A HREF="http://www.servtech.com/public/phoenix/computers/gno/index.html">
	GNO Utilities Page.</A>
	(This is an sorted version of the <b>describe</b>(1) database.)
<li><A HREF="http://www.freebsd.org/handbook/handbook298.html">
	FreeBSD ftp site list</A>
<li><A HREF="http://www.geeks.org/~taubert/gstcp/index.html">
	GS/TCP</A>
<li><A HREF="http://www.zip.com.au/~kashum/marinetti">
	Marinetti</A>
</ul>
<p>

The following links have a less direct relevance to GNO, but may still
be useful:
<ul>
<li><A HREF="http://earthspace.net/~esr/writings/cathedral-paper.html">
	The Cathedral and the Bazaar</A>
	by Eric S. Raymond.
	This paper discusses differences between two software engineering
	strategies:  The traditional development / testing / release
	cycle and the high turn-around cycle typified by Linux and
	one of the author's own projects, <b>fetchmail</b>.
	This paper is valuable as &quot;food for thought&quot; for anyone
	considering working on GNO or any other large projects for the
	Apple II.<p>

<li>The <A HREF="http://www.pathname.com/fhs">File System Hierarchy</A>
	&quot;standard&quot;.  This is not a true standard in the ANSI/ISO
	sense, but still contains a lot of useful information.
	<b>NOTE:</b> <em>GNO is based on 4.4BSD which does not, at this
	time, completely follow the suggested hierarchy.  GNO sites
	should use the hierarchy specified in the
	<A HREF="%%FAQ%%">FAQ</A>. </em>
</ul>

