<hr>

<img alt="Apple II Viewable Page" height=31 width=88 border="0"
src="icons/a2viewable.gif" align=right>
Devin Reade 
<br>
<A HREF="mailto:%%CONTACT%%">%%CONTACT%%</A>
<p>

<!-- Tail: $Id: tail.html 819 2001-06-18 13:42:55Z gdr $ -->
</body>
</html>
